* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;

}

section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    padding-bottom: 4vh;
}

p {
  color: black;
}

/* TRANSITION */

#desktop-nav{
    display: flex;
    justify-content: space-between; /* Ensures space between the logo and the other nav items */
    align-items: center;
    padding: 1rem; /* Adjust padding as needed */
}


a, .btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #F3F2E9;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;

}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #DAA520;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #FFD700;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left:2rem;
}

.logo:hover {
  cursor:default;
}

.logo-name {
  margin: auto;
  font-size: 4rem;
  text-align: left;

}

.btn-container {
  margin: auto;
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.demo-btn{
  font-size: 1rem;
  color: #856A35;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 1.5rem;
  border: #e1da9e 0.2rem solid;
  background: #E1DA9E;
}

.demo-btn:hover {
  cursor:pointer
}

.sign-in-button {
    font-weight: 600;
    font-size: 1rem;
    color: #B38F48;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1.5rem;
    border: #e1da9e 0.2rem solid;
    background: white;
  }
  
  .sign-in-button:hover {
    cursor:pointer
  }


/* HAMBURGER MENU */

/* HERO */
#hero {
    display: flex;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    height: 100%; /* Ensures the container takes up the full height */
    gap: 3rem;
  }
  
  .left-container {
    display: flex;
    justify-content: center;
  }
  
  .text-container {
    display: flex;
    align-self: center;
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  
  .hero-text-1 {
    margin-bottom: 2rem;
  }
  
  .pic-containter {
    display: flex;
    height: 500px;
    width: 500px;

  }
  
  .contact-btn {
    font-weight: 600;
    font-size: 1rem;
    color: #B38F48;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1.5rem;
    border: #e1da9e 0.2rem solid;
    background: white;
    gap: 2rem;
  }
  
  .contact-btn:hover {
    cursor:pointer
  }
  
  /* HNW */
  
  #hnw {
    display: flex;
    justify-content: center;
    /*height: 80 vh;*/
    background-color: #FAF9F5;
    gap: 3rem;
  }
    

  .body-image {
    border-radius: 1rem;
    border: #E1DA9E 0.1rem solid;
  }

/* HEDGE FUND SECTION */

  #hedge-fund {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
  }
  

  #hedge-funds .container {
    display: flex;
    align-items: center; /* Aligns text vertically centered with the image */
    gap: 2rem; /* Adds space between image and text */
    justify-content: center;
    flex-wrap: wrap;
    /*margin-left: 15rem;
    margin-right:15rem;*/
}

#hedge-funds .pic-container {
    flex: 0 0 auto; /* Ensures the image doesn't stretch */
    display: flex;
    justify-content: center;
}

#hedge-funds .text-container {
    flex: 1; /* Allows the text container to take up the remaining space */
    justify-content: center;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
}

/* INVESTMENT BANK SECTION */

#investment-banks {
    display: flex;
    justify-content: center;
    background-color: #FAF9F5;
    gap: 3rem;
}


#action {
    position: relative;
    margin-top: 2cap;
    margin-bottom: 2rem;
  }
  
  .action-title {
    text-align: center;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  
  .highlight {
    color: #B38F48;
  }
  
  #sign-up {
    position: relative;
  }
  
  .sign-up-container {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
  }
  
  .sign-up-wrapper {
    display: flex;
    gap: 7rem;
  }
  
  .client-box {
      padding: 2rem;
      flex: 1;
      background: white;
      border-radius: 2rem;
      border: #8C8C8C 0.1rem solid;
      border-color: #8C8C8C;
      text-align: center;
      color: #8C8C8C;
  }
  
  .client-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .investment-bank-box {
    padding: 2rem;
    flex: 1;
    background: #E1DA9E;
    border-radius: 2rem;
    border: #E1DA9E 0.1rem solid;
    border-color: #E1DA9E;
    text-align: center;
  }
  
  .investment-bank-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .client-button {
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
    color: #5A5A5A;
    transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 1.5rem;
    border: #e1da9e 0.2rem solid;
    background: white;
  }
  
  .investment-bank-button {
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
    color: #4A493F;
    transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 1.5rem;
    border: #4A493F 0.2rem solid;
    background: #e1da9e;
  }
    
  .client-button:hover {
    cursor:pointer;
    background-color: #e1da9e;
  }
  
  .investment-bank-button:hover {
    cursor:pointer;
    background-color: #4A493F;
    color:#B38F48;
  }
  
/* CONTACT SECTION */

#contact-container {
  background: linear-gradient(#f0f0ce, #fafafa);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
  color: #4A493F;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #4A493F;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  outline: none;
  padding-left: 25px;
  font-weight:500;
  border-radius: 20px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px; 
}

.contact-left textarea::placeholder {
  font-weight: 600;
  font-size: medium;
  
}

.contact-inputs:focus {
  border: 2px solid #B38F48;
}

.contact-inputs::placeholder {
  color: #8b8b8b;
  font-weight: 600;
  font-size: medium;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #4A493F;
  gap: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #e1da9e;
  font-weight: 600;
}

/* FOOTER SECTION */

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Adjust padding as needed */
    background-color: #F3F2E9; /* Adjust background color as needed */
}

.footer-nav-links-container {
    /* Aligns the nav links on the right */
    margin-right: 4rem;
}

.footer-nav-links-container .nav-links {
    display: flex;
    gap: 2rem; /* Adjust gap between links as needed */
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav-links-container a {
    text-decoration: none;
    color: black; /* Adjust color as needed */
}


.footer-nav-links-container a:hover {
    color: #DAA520; /* Adjust hover color as needed */
}