* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height:100%;
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    height:100%;
    width: 100%;
    /*display: flex;*/
}

h1, h2, h3, p {
  color: #4A4A68;
}

.create-account-container {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    color: #000;
    justify-content: center;
    padding: 16px 16px;
    font: 600;
}

.account-form {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  width: 450px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 25px;
  height: 90vh;
}

.form-title {
    font-size: 36px;
    align-self: stretch;
  }

  .form-label {
    margin-top: 29px;
  }
  
  .form-label:first-of-type {
    margin-top: 2rem;
  }

  .form-input {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 14px;
    width: 415px;
    max-width: 100%;
    height: 49px;
    border: 1px solid #5B1654;
  }

  .submit-button {
    border-radius: 15px;
    background-color: #5B1654;
    align-self: center;
    width: 18rem;
    height: 3rem;
    max-width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
  }

   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  } 