* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height:100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    height:100%;
    display: flex;
}

.layout-container {
    display: flex; /* Aligns nav and main side by side */
    width: 100%; /* Ensures the container takes up the full width */
    height: 100vh; /* Set layout to take full viewport height */
}

section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    padding-bottom: 4vh;
}



/* MAIN CONTENT */

.main-content {
    flex-grow: 1; /* Allows the main content to take up the remaining space */
    padding: 20px; 
    overflow-y: auto;
  }

  .title-message {
    color: #000;
    align-self: flex-start;
    font-size: 3rem;
    margin-top: 3rem;
  }

  .portal-sections {
    display: flex;
    margin-top: 65px;
    width: 100%;
    padding-left: 80px;
    flex-direction: column;
  }

  .primary-sections {
      display: flex;
      gap: 4rem;
      margin-bottom: 5rem;
  }

  .section-button {
    font-weight: 600;
    font-size: 2rem;
    color: #B38F48;
    transition: all 300ms ease;
    padding: 3rem;
    width: 25rem;
    border-radius: 1rem;
    border: #e1da9e 0.5rem solid;
    background: white;

  }

  .section-button:hover {
    cursor:pointer
  }

  .account-bar {
    font-weight: 600;
    font-size: 2rem;
    color: #B38F48;
    transition: all 300ms ease;
    padding: 1rem;
    width: 50rem;
    border-radius: 1rem;
    border: #e1da9e 0.5rem solid;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between the account info and the settings icon */
}

.account-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; /* Allows the span to occupy the space in between */
}

.account-icon {
    margin-right: auto; /* Aligns the account icon to the left */
}

.account-info span {
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Centers the span text */
}

.settings-icon {
    margin-left: auto; /* Aligns the settings icon to the right */
}

/* New sidebar footer styling */
.sidebar-footer {
    margin-top: auto; /* Pushes the footer items to the bottom */
}

.nav-footer-item {
    text-decoration: none;
    margin-top: 1rem;
    display: block;
}
